{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}

<div class="contact-us-wrapper">
    <div class="hero-image position-relative">
        <img src="{{ asset('images/all-package-hero-image.jpg') }}" alt="all-categories" />
        <h2 class="text-white position-absolute">Contact Us</h2>
    </div>

    <div class="bg-white my-3">
        <div class="more-info reservation-info">
            <div class="container">
                <div class="row justify-content-center align-items-stretch g-4">
                    <div class="col-lg-4 col-sm-6">
                        <div class="info-item text-center h-100 p-3 border rounded m-0">
                            <div class="icon mb-3">
                                <i class="fa fa-phone"></i>
                            </div>
                            <h4>Make a Phone Call</h4>
                            <a href="#">+91 76880 02255</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="info-item text-center h-100 p-3 border rounded m-0">
                            <div class="icon mb-3">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <h4>Contact Us via Email</h4>
                            <a href="#">info@goezeetravels.com</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="info-item text-center h-100 p-3 border rounded m-0">
                            <div class="icon mb-3">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <h4>Visit Our Offices</h4>
                            <a href="#">No 14, 3rd Floor, Old BMC Building No 2, Hemant Manjrekar Road, Sion Koliwada, Mumbai - 400022, Maharashtra, India</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="row">
            <h3 class="text-center">Reach out to us</h3>
            {% if app.flashes('success') is not empty %}
                <div class="alert alert-success">
                    {{ app.flashes('success') }}
                </div>
            {% endif %}
            {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="mb-3">
                        <label for="name" class="form-label">{{ form_label(form.name) }}</label>
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'id': 'firstname', 'required': true}}) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="mb-3">
                        <label for="email" class="form-label">{{ form_label(form.email) }}</label>
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'email', 'type': 'email', 'required': true}}) }}
                        {{ form_errors(form.email, {'attr': {'class': 'text-danger'}}) }}
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="mb-3">
                        <label for="phoneNo" class="form-label">{{ form_label(form.phoneNo) }}</label>
                        {{ form_widget(form.phoneNo, {'attr': {'class': 'form-control', 'id': 'phone', 'required': true}}) }}
                        {{ form_errors(form.phoneNo) }}
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="mb-3">
                        <label for="subject" class="form-label">{{ form_label(form.subject) }}</label>
                        {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'id': 'phone', 'required': true}}) }}
                        {{ form_errors(form.subject) }}
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="mb-3">
                        <label for="message" class="form-label">{{ form_label(form.message) }}</label>
                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'id': 'requirement', 'required': true}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            {{ form_end(form) }}
        </div>


    </div>
</div>
    {% endblock %}
