<div class="row">
    <div class="{% if groupedFlights['return'] is defined %}col-lg-6 col-md-12{% else %} col-lg-12 col-md-12 {% endif %}">
        {% for flights in groupedFlights['oneway'][0] %}
            {% set flightDetails = flights[0]['FlightDetails']['Details'][0] %}
            {% set flightPrice = flights[0]['Price'] %}
            {% set flightAttr = flights[0]['Attr'] %}
            {% set timeFormat = "Y-m-d H:i:s" %}
            {% set timeOrigin = flightDetails[0]['Origin']['DateTime'] | date("H:i") %}
            {% set timeDestination = flightDetails[flightDetails | length - 1]['Destination']['DateTime'] | date("H:i") %}

            {% set diffInSeconds = timeDestination|date('U') - timeOrigin|date('U') %}
            {% set hoursDiff = (diffInSeconds / 3600)|round(0, 'floor') %}
            {% set minutesDiff = ((diffInSeconds % 3600) / 60)|round(0, 'floor') %}

            {% set timeDuration = hoursDiff ~ 'h ' ~ (minutesDiff < 10 ? '0' ~ minutesDiff : minutesDiff) ~ 'm' %}
            <div class="card my-4 border-0 shadow flight-list-wrapper">
                <div class="card-header border-0 px-5 flight-pack">
                    {{ flightAttr['AirlineRemark'] }}
                    <div class="d-flex gap-3 align-items-center">
                        <h5 class="flight-name m-0">
                            {% for details in flightDetails %}
                                {{ details['OperatorName'] }} {{ loop.index != flightDetails | length ? '|' }}
                            {% endfor %}
                        </h5>
                        <h5 class="flight-number text-start m-0">
                            {% for details in flightDetails %}
                                {{ details['DisplayOperatorCode'] }} - {{ details['FlightNumber'] }} {{ loop.index != flightDetails | length ? '|' }}
                            {% endfor %}
                        </h5>
                    </div>
                </div>

                <div class="px-5 py-3 card-body border-0">

                    <div class="row" {% if flights | length > 1 %} data-bs-toggle="collapse" data-bs-target="#oneway-flush-collapseOne-{{ loop.index }}" {% endif %}>
                        <div class="{% if groupedFlights['return'] is defined %}col-lg-12 col-md-12{% else %} col-lg-6 col-md-6 {% endif %}">
                            <div class="row">
                                <div class="{% if groupedFlights['return'] is defined %}col-lg-12{% else %} col-6 {% endif %}">
                                    <div class="d-flex gap-3 {% if groupedFlights['return'] is defined %}justify-content-center{% else %} justify-content-start {% endif %} align-items-center h-100">
                                        <img src="https://assets.duffel.com/img/airlines/for-light-background/full-color-logo/{{ flightDetails[0]['OperatorCode'] }}.svg" width="40" />
                                        <div>
                                            <h5 class="flight-name">
                                                {% for details in flightDetails %}
                                                    {{ details['OperatorName'] }} {{ loop.index != flightDetails | length ? '|' }}
                                                {% endfor %}
                                            </h5>
                                            <h5 class="flight-number text-start m-0">
                                                {% for details in flightDetails %}
                                                    {{ details['DisplayOperatorCode'] }} - {{ details['FlightNumber'] }} {{ loop.index != flightDetails | length ? '|' }}
                                                {% endfor %}
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="{% if groupedFlights['return'] is defined %}col-lg-12{% else %} col-6 m-auto {% endif %}">
                                    {% for details in flightDetails %}
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex flex-column align-items-center justify-content-start">
                                        <span class="flight-from-time">
                                           {{ details['Origin']['DateTime'] | date("H:i") }}
                                        </span>
                                                <span class="flight-from">
                                            {{ details['Origin']['CityName'] }}
                                        </span>
                                            </div>

                                            <div class="seperator"></div>

                                            <div class="d-flex flex-column align-items-center justify-content-start">
                                        <span class="flight-from-time">
                                            {{ details['Destination']['DateTime'] | date("H:i") }}
                                        </span>
                                                <span class="flight-from">
                                            {{ details['Destination']['CityName'] }}
                                        </span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="{% if groupedFlights['return'] is defined %}col-lg-12 m-auto{% else %} col-md-6 m-auto {% endif %}">
                            <div class="row">
                                <div class="{% if groupedFlights['return'] is defined %}col-lg-12{% else %} col-md-6 {% endif %} d-flex flex-column align-items-center justify-content-start m-auto">
                                    <span class="flight-duration">{{ timeDuration }}</span>
                                    <span class="flight-stops">{{ flightDetails | length > 1 ? flightDetails | length - 1 : 'Non' }} stop</span>
                                </div>
                                <div class="{% if groupedFlights['return'] is defined %}col-lg-12 justify-content-between{% else %} col-md-6 justify-content-end {% endif %} d-flex gap-3  align-items-center">
                                    <span class="flight-price">₹ {{ flightPrice['TotalDisplayFare'] }}</span>

                                    {% if flights | length > 1 %}
                                        <button class="btn btn-outline-secondary">
                                            View Prices
                                        </button>
                                    {% else %}
                                        <a href="{{ path('flight_reviewDetails', {itineraryId : flights[0]['ResultToken'] }) }}" class="btn btn-outline-secondary">
                                            Book
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="oneway-flush-collapseOne-{{ loop.index }}" class="accordion-collapse collapse mx-1" data-bs-parent="#accordionFlushExample">

                        <table class="table multiple-flights my-3">
                            <thead>
                            <tr>
                                <th scope="col flight-price">Services</th>
                                <th scope="col flight-price">Refundable</th>
                                <th scope="col flight-price">Price</th>
                                <th scope="col flight-price">Fare Rule</th>
                                <th scope="col flight-price"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for flight in flights %}
                                {% set price = flight['Price']['TotalDisplayFare'] %}
                                {% set service = flight['Attr']['AirlineRemark'] %}
                                {% set isRefundable = flight['Attr']['IsRefundable'] %}
                                <tr>
                                    <th class="flight-price" scope="row">{{ service | replace({'TTMX ': '', '_': ' '}) }}</th>
                                    <td class="flight-price">{{ isRefundable ? 'Yes' : 'No' }}</td>
                                    <td class="flight-price">₹ {{ price }}</td>
                                    <td class="flight-price">
                                        <p class="text-decoration-underline text-primary m-0 cursor-pointer fare-rule-pointer" data-bs-toggle="modal" data-bs-target="#fareModal" data-url="{{ path('flight_fetchFareDetails') }}" data-token="{{ flight['ResultToken'] }}">
                                            Fare rule
                                        </p>

                                    </td>
                                    <td class="text-center"><a class="btn btn-outline-secondary" href="{{ path('flight_reviewDetails', {itineraryId : flight['ResultToken'] }) }}">Book</a> </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="card-footer border-0 px-5 flight-attr d-flex justify-content-between flex-wrap">
                    <div>
                        {{ flightAttr['IsRefundable'] ? 'Refundable' : 'Non-refundable' }}
                    </div>
                    <div>
                        Baggage:
                        {% for details in flightDetails %}
                            {{ details['Attr']['Baggage'] }} {{ loop.index != flightDetails | length ? '|' }}
                        {% endfor %}

                    </div>
                    <div>
                        Cabin Baggage: {% for details in flightDetails %}
                            {{ details['Attr']['CabinBaggage'] }} {{ loop.index != flightDetails | length ? '|' }}
                        {% endfor %}

                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-lg-6 col-md-12">
        {% for flights in groupedFlights['return'][0] %}
            {% if flights[0] is defined %}
                {% set flightDetails = flights[0]['FlightDetails']['Details'][0] %}
                {% set flightPrice = flights[0]['Price'] %}
                {% set flightAttr = flights[0]['Attr'] %}
                {% set timeFormat = "Y-m-d H:i:s" %}
                {% set timeOrigin = flightDetails[0]['Origin']['DateTime'] | date("H:i") %}
                {% set timeDestination = flightDetails[flightDetails | length - 1]['Destination']['DateTime'] | date("H:i") %}

                {% set diffInSeconds = timeDestination|date('U') - timeOrigin|date('U') %}
                {% set hoursDiff = (diffInSeconds / 3600)|round(0, 'floor') %}
                {% set minutesDiff = ((diffInSeconds % 3600) / 60)|round(0, 'floor') %}

                {% set timeDuration = hoursDiff ~ 'h ' ~ (minutesDiff < 10 ? '0' ~ minutesDiff : minutesDiff) ~ 'm' %}
                <div class="card my-4 border-0 shadow flight-list-wrapper">
                    <div class="card-header border-0 px-5 flight-pack">
                        {{ flightAttr['AirlineRemark'] }}
                        <div class="d-flex gap-3 align-items-center">
                            <h5 class="flight-name m-0">
                                {% for details in flightDetails %}
                                    {{ details['OperatorName'] }} {{ loop.index != flightDetails | length ? '|' }}
                                {% endfor %}
                            </h5>
                            <h5 class="flight-number text-start m-0">
                                {% for details in flightDetails %}
                                    {{ details['DisplayOperatorCode'] }} - {{ details['FlightNumber'] }} {{ loop.index != flightDetails | length ? '|' }}
                                {% endfor %}
                            </h5>
                        </div>
                    </div>

                    <div class="px-5 py-3 card-body border-0">

                        <div class="row" {% if flights | length > 1 %} data-bs-toggle="collapse" data-bs-target="#return-flush-collapseOne-{{ loop.index }}" {% endif %}>
                            <div class="{% if groupedFlights['return'] is defined %}col-lg-12 col-md-12{% else %} col-lg-6 col-md-6 {% endif %}">
                                <div class="row">
                                    <div class="{% if groupedFlights['return'] is defined %}col-lg-12{% else %} col-6 {% endif %}">
                                        <div class="d-flex gap-3 {% if groupedFlights['return'] is defined %}justify-content-center{% else %} justify-content-start {% endif %} align-items-center h-100">
                                            <img src="https://assets.duffel.com/img/airlines/for-light-background/full-color-logo/{{ flightDetails[0]['OperatorCode'] }}.svg" width="40" />
                                            <div>
                                                <h5 class="flight-name">
                                                    {% for details in flightDetails %}
                                                        {{ details['OperatorName'] }} {{ loop.index != flightDetails | length ? '|' }}
                                                    {% endfor %}
                                                </h5>
                                                <h5 class="flight-number text-start m-0">
                                                    {% for details in flightDetails %}
                                                        {{ details['DisplayOperatorCode'] }} - {{ details['FlightNumber'] }} {{ loop.index != flightDetails | length ? '|' }}
                                                    {% endfor %}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="{% if groupedFlights['return'] is defined %}col-lg-12{% else %} col-6 m-auto {% endif %}">
                                        {% for details in flightDetails %}
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-column align-items-center justify-content-start">
                                        <span class="flight-from-time">
                                           {{ details['Origin']['DateTime'] | date("H:i") }}
                                        </span>
                                                    <span class="flight-from">
                                            {{ details['Origin']['CityName'] }}
                                        </span>
                                                </div>

                                                <div class="seperator"></div>

                                                <div class="d-flex flex-column align-items-center justify-content-start">
                                        <span class="flight-from-time">
                                            {{ details['Destination']['DateTime'] | date("H:i") }}
                                        </span>
                                                    <span class="flight-from">
                                            {{ details['Destination']['CityName'] }}
                                        </span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="{% if groupedFlights['return'] is defined %}col-lg-12 m-auto{% else %} col-md-6 m-auto {% endif %}">
                                <div class="row">
                                    <div class="{% if groupedFlights['return'] is defined %}col-lg-12{% else %} col-md-6 {% endif %} d-flex flex-column align-items-center justify-content-start m-auto">
                                        <span class="flight-duration">{{ timeDuration }}</span>
                                        <span class="flight-stops">{{ flightDetails | length > 1 ? flightDetails | length - 1 : 'Non' }} stop</span>
                                    </div>
                                    <div class="{% if groupedFlights['return'] is defined %}col-lg-12 justify-content-between{% else %} col-md-6 justify-content-end {% endif %} d-flex gap-3  align-items-center">
                                        <span class="flight-price">₹ {{ flightPrice['TotalDisplayFare'] }}</span>

                                        {% if flights | length > 1 %}
                                            <button class="btn btn-outline-secondary">
                                                View Prices
                                            </button>
                                        {% else %}
                                            <a href="{{ path('flight_reviewDetails', {itineraryId : flights[0]['ResultToken'] }) }}" class="btn btn-outline-secondary">
                                                Book
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="return-flush-collapseOne-{{ loop.index }}" class="accordion-collapse collapse mx-1" data-bs-parent="#accordionFlushExample">

                            <table class="table multiple-flights my-3">
                                <thead>
                                <tr>
                                    <th scope="col flight-price">Services</th>
                                    <th scope="col flight-price">Refundable</th>
                                    <th scope="col flight-price">Price</th>
                                    <th scope="col flight-price">Fare Rule</th>
                                    <th scope="col flight-price"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for flight in flights %}
                                    {% set price = flight['Price']['TotalDisplayFare'] %}
                                    {% set service = flight['Attr']['AirlineRemark'] %}
                                    {% set isRefundable = flight['Attr']['IsRefundable'] %}
                                    <tr>
                                        <th class="flight-price" scope="row">{{ service | replace({'TTMX ': '', '_': ' '}) }}</th>
                                        <td class="flight-price">{{ isRefundable ? 'Yes' : 'No' }}</td>
                                        <td class="flight-price">₹ {{ price }}</td>
                                        <td class="flight-price">
                                            <p class="text-decoration-underline text-primary m-0 cursor-pointer fare-rule-pointer" data-bs-toggle="modal" data-bs-target="#fareModal" data-url="{{ path('flight_fetchFareDetails') }}" data-token="{{ flight['ResultToken'] }}">
                                                Fare rule
                                            </p>

                                        </td>
                                        <td class="text-center"><a class="btn btn-outline-secondary" href="{{ path('flight_reviewDetails', {itineraryId : flight['ResultToken'] }) }}">Book</a> </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="card-footer border-0 px-5 flight-attr d-flex justify-content-between flex-wrap">
                        <div>
                            {{ flightAttr['IsRefundable'] ? 'Refundable' : 'Non-refundable' }}
                        </div>
                        <div>
                            Baggage:
                            {% for details in flightDetails %}
                                {{ details['Attr']['Baggage'] }} {{ loop.index != flightDetails | length ? '|' }}
                            {% endfor %}

                        </div>
                        <div>
                            Cabin Baggage: {% for details in flightDetails %}
                                {{ details['Attr']['CabinBaggage'] }} {{ loop.index != flightDetails | length ? '|' }}
                            {% endfor %}

                        </div>

                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="modal fade fare-rule-body" id="fareModal" tabindex="-1" aria-labelledby="fareModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Fare Rules</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center loader">
                    <div class="spinner-border" role="status">
                    </div>
                </div>
                <div class="fare-result"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('[data-bs-toggle="popover"]').popover();

        var searchUrl;
        $('.flight-list-wrapper').on('click', '.fare-rule-pointer', function() {
            var $clickedElement = $(this); // Store the clicked element

            searchUrl = $clickedElement.data('url');
            var updatedContent = "<div>New Content</div>";
            $('#fareModal').find('.loader').removeClass('d-none');
            $('#fareModal').find('.fare-result').html('');
            $.ajax({
                url: searchUrl,
                type: 'POST',
                data: {
                    token: $clickedElement.data('token'),
                },
                success: function(response) {
                    console.log(response, $clickedElement, $clickedElement.data('bs-content'));
                    $clickedElement.data('bs-content', updatedContent);
                    $('#fareModal').find('.loader').addClass('d-none');
                    $('#fareModal').find('.fare-result').html(response['FareRule']['FareRuleDetail'][0]['FareRules']);

                },
                error: function(xhr, status, error) {
                    // On error, display the error details
                    $('#result').text('Error: ' + error);
                }
            });
        });


        // const popover = new bootstrap.Popover('.popover-dismiss', {
        //     trigger: 'focus'
        // })
    });
</script>