{% extends 'base.html.twig' %}

{% block title %}Review booking{% endblock %}

{% block body %}

    {% set flights = details['FareQuoteDetails']['JourneyList']['FlightDetails']['Details'][0] %}
    {% set price = details['FareQuoteDetails']['JourneyList']['Price'] %}
    {% set extraServices = extra['ExtraServices']['ExtraServiceDetails'] %}
    {% set convienceFees = 10 %}

    {% if flights is defined %}
        <div class="container review-flight-container my-3">
            <div class="row">
                <div class="col-lg-9 col-md-6 col-sm-12">
                    <h3 class="text-primary">Review Journey</h3>

                    <div class="card border-0 border-radius-6 overflow-hidden shadow bg-beige">
                        <div class="card-header border-0">
                            {% set totalTime = 0 %}
                            {% set layoverTime = 0 %}
                            {% for details in flights %}
                                {% set totalTime = totalTime + details['Duration'] %}
                                {% if details['LayOverTime'] is defined %}
                                    {% set lay = details['LayOverTime'] %}
                                {% else %}
                                    {% set lay = 0 %}
                                {% endif %}
                                {% set layoverTime = layoverTime + lay %}
                            {% endfor %}



                            {#                    {% set layoverTimeResult = _self.calculateDuration(layoverTime) %}#}

                            <div class="d-flex justify-content-between align-items-center">
                                {% set minutes = totalTime %}
                                {% set hours = (minutes / 60) | round(0, 'floor') %}
                                {% set remainingMinutes = minutes % 60 %}

                                {% set days = (hours / 24) | round(0, 'floor') %}
                                {% set remainingHours = hours % 24 %}
                                <span class="flight-duration">Total Time: {% if days > 0 %}{{ days }} days {% endif %} {% if remainingHours > 0 %}{{ remainingHours }} hr {% endif %}{{ remainingMinutes }} min </span>
                                {% if layoverTime > 0 %}
                                    {% set minutes = layoverTime %}
                                    {% set hours = (minutes / 60) | round(0, 'floor') %}
                                    {% set remainingMinutes = minutes % 60 %}

                                    {% set days = (hours / 24) | round(0, 'floor') %}
                                    {% set remainingHours = hours % 24 %}
                                    <span class="flight-duration">Layover Time: {% if days > 0 %}{{ days }} days {% endif %} {% if remainingHours > 0 %}{{ remainingHours }} hr {% endif %}{{ remainingMinutes }} min </span>
                                {% endif %}
                            </div>

                            {#                    <span>Layover Time: {% if layoverTimeResult.days > 0 %}{{ layoverTimeResult.days }} days {% endif %} {% if layoverTimeResult.hours > 0 %}{{ layoverTimeResult.hours }} hr {% endif %}{{ layoverTimeResult.minutes }} min </span>#}
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-lg-4 col-md-6 m-auto">
                                    <div class="d-flex gap-2 flex-column align-items-center">
                                        <img src="https://assets.duffel.com/img/airlines/for-light-background/full-color-logo/{{ flights[0]['OperatorCode'] }}.svg" width="35" />

                                        <div class="flight-details text-center">
                                            <h5 class="flight-name m-0">
                                                {% for flight in flights %}
                                                    {{ flight['OperatorName'] }} {{ loop.index != flights | length ? '|' }}
                                                {% endfor %}
                                            </h5>
                                            <h5 class="flight-number m-0">
                                                {% for flight in flights %}
                                                    {{ flight['DisplayOperatorCode'] }} - {{ flight['FlightNumber'] }} {{ loop.index != flights | length ? '|' }}
                                                {% endfor %}
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-8 col-md-6 m-auto">
                                    <div class="d-flex gap-2 flex-column justify-content-center">
                                        {% for details in flights %}
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-column align-items-center justify-content-start">
                                            <span class="flight-from-time">
                                               {{ details['Origin']['DateTime'] | date("H:i") }}
                                            </span>
                                                    <span class="flight-from">
                                                {{ details['Origin']['CityName'] }}
                                            </span>
                                                    <span class="flight-from">
                                                Airport: {{ details['Origin']['AirportName'] }}
                                            </span>
                                                </div>

                                                <div class="seperator"></div>

                                                <div class="d-flex flex-column align-items-center justify-content-start">
                                        <span class="flight-from-time">
                                            {{ details['Destination']['DateTime'] | date("H:i") }}
                                        </span>
                                                    <span class="flight-from">
                                            {{ details['Destination']['CityName'] }}
                                        </span>
                                                    <span class="flight-from">
                                            Airport: {{ details['Destination']['AirportName'] }}
                                        </span>
                                                </div>

                                                {% set minutes = details['Duration'] %}
                                                {% set hours = (minutes / 60) | round(0, 'floor') %}
                                                {% set remainingMinutes = minutes % 60 %}

                                                {% set days = (hours / 24) | round(0, 'floor') %}
                                                {% set remainingHours = hours % 24 %}


                                                <div class="col-6 d-flex flex-column align-items-center justify-content-start m-auto">
                                                    <span class="flight-duration">{% if days > 0 %}{{ days }} days {% endif %} {% if remainingHours > 0 %}{{ remainingHours }} hr {% endif %}{{ remainingMinutes }} min </span>
                                                    <span class="flight-stops">{{ flights | length > 1 ? flights | length - 1 : 'Non' }} stop</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% for flight in flights %}
                                {#                        {{ dump(flight) }}#}
                                {#                        {{ dump(flight['Origin']['AirportCode']) }}#}
                                {#                        {{ dump(flight['Destination']['AirportCode']) }}#}
                            {% endfor %}
                        </div>

                        <hr />

                        <form class="needs-validation px-4" data-url="{{ path('flight_commitBooking') }}" novalidate>
                            <input type="hidden" name="ResultToken" value="{{ details['FareQuoteDetails']['JourneyList']['ResultToken'] }}">
                            {% for passenger in 0..price['PassengerBreakup']['ADT']['PassengerCount']-1  %}
                                {% set passengerIndex = loop.index %}
                                <div class="p-0 my-3">
                                    <div class="col-12 text-secondary title border-0 bg-beige px-4 py-0">
                                        <p class="m-0 text-secondary passenger-title">Adult {{ loop.index }}</p>
                                    </div>
                                    <div class="row g-3 m-0 py-0 card-body">
                                        <div class="col-md-3 mt-2">
                                            <label for="title[{{ loop.index }}]" class="form-label">Title</label>
                                            <select class="form-select" id="title[{{ loop.index }}]" name="Title[{{ loop.index }}]" required>
                                                <option selected disabled value="">Choose...</option>
                                                <option value="mr">Mr.</option>
                                                <option value="mrs">Mrs.</option>
                                                <option value="master">Master.</option>
                                                <option value="miss">Miss.</option>
                                            </select>
                                            <div class="valid-feedback">
                                                Valid Title!
                                            </div>
                                            <div class="invalid-feedback">
                                                Please select a valid title.
                                            </div>
                                        </div>

                                        <div class="col-md-4 mt-2">
                                            <label for="firstName[{{ loop.index }}]" class="form-label">First name</label>
                                            <input type="text" class="form-control" id="firstName[{{ loop.index }}]" name="FirstName[{{ loop.index }}]" value="" maxlength="45" required>
                                            <div class="invalid-feedback">
                                                Please provide a valid first name!
                                            </div>
                                            <div class="valid-feedback">
                                                Valid First Name!
                                            </div>
                                        </div>

                                        <div class="col-md-4 mt-2">
                                            <label for="lastName[{{ loop.index }}]" class="form-label">Last name</label>
                                            <input type="text" class="form-control" id="lastName[{{ loop.index }}]" name="LastName[{{ loop.index }}]" value="" maxlength="45" required>
                                            <div class="invalid-feedback">
                                                Please provide a valid last name!
                                            </div>
                                            <div class="valid-feedback">
                                                Valid Last Name!
                                            </div>
                                        </div>

                                        <div class="col-md-6 mt-2">
                                            <label for="dob[{{ loop.index }}]" class="form-label">Date of birth</label>
                                            <input type="date" class="form-control" id="dob[{{ loop.index }}]" name="DateOfBirth[{{ loop.index }}]" required>
                                            <div class="invalid-feedback">
                                                Please provide a valid date of birth!
                                            </div>
                                            <div class="valid-feedback">
                                                Valid date of birth!
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mx-4" />

                                    <p class="mx-4 text-secondary passenger-title">Service Requests(Optional)</p>
                                    <div class="accordion accordion-flush mx-4" id="accordionFlushExample">
                                        {% if extraServices['Baggage'] is defined %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed bg-beige" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-baggage{{loop.index}}" aria-expanded="false" aria-controls="accordion-baggage{{loop.index}}">
                                                        Additional Baggage
                                                    </button>
                                                </h2>
                                                <div id="accordion-baggage{{loop.index}}" class="accordion-collapse collapse bg-beige" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        {% for flight in extraServices['Baggage'] %}
                                                            <div class="row baggage-row">
                                                                <input type="hidden" class="add-baggage" name="baggage[{{ passengerIndex }}][{{ loop.index }}]" />
                                                                <div class="col-12 text-center">
                                                                    <h4 class="meal-for-flight">{{ flight[0]['Origin'] }} - {{ flight[0]['Destination'] }}</h4>
                                                                </div>
                                                                {% for baggage in flight %}
                                                                    <div class="col-lg-4 col-md-6 col-sm-12 text-center my-2">
                                                                        <div class="card overflow-hidden border-radius-6 border-0 shadow baggage-wrapper cursor-pointer py-4" data-passenger-index="{{ passengerIndex }}" data-baggage-id="{{ baggage['BaggageId'] }}">
                                                                            <div class="text-center">
                                                                                <img class="text-center m-auto" src="{{ asset('images/baggage.png') }}" alt="baggage">
                                                                            </div>
                                                                            <p class="fa-bold m-0">Additional</p>
                                                                            <p class="m-0 baggage-weight">{{ baggage['Weight'] }}</p>
                                                                            <p class="m-0">₹ <span class="baggage-price">{{ baggage['Price'] }}</span></p>
                                                                            <span class="select btn btn-outline-secondary m-auto">Select</span>
                                                                            <img class="selected d-none m-auto" src="{{ asset('images/tick.svg') }}" width="30" />
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if extraServices['Meals'] is defined %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed bg-beige" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-meal{{loop.index}}" aria-expanded="false" aria-controls="accordion-meal{{loop.index}}">
                                                        Add Meals
                                                    </button>
                                                </h2>
                                                <div id="accordion-meal{{loop.index}}" class="accordion-collapse collapse bg-beige" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        <input type="hidden" class="add-meal" name="meal[{{ passengerIndex }}]" />
                                                            {% for flight in extraServices['Meals'] %}
                                                            <div class="row">
                                                                <div class="col-12 text-center">
                                                                    <h4 class="meal-for-flight">{{ flight[0]['Origin'] }} - {{ flight[0]['Destination'] }}</h4>
                                                                </div>
                                                                {% for meal in flight %}
                                                                    <div class="col-lg-4 col-md-6 col-sm-12 text-center my-2">
                                                                        <div class="card overflow-hidden border-radius-6 border-0 shadow meal-wrapper cursor-pointer py-4" data-passenger-index="{{ passengerIndex }}" data-meal-id="{{ meal['MealId'] }}">
                                                                            <div class="text-center">
                                                                                <img class="text-center m-auto" src="{{ asset('images/food-tray.png') }}" alt="meal">
                                                                            </div>
                                                                            <p class=""></p>
                                                                            <p class="m-0 meal-name">{{ meal['Description'] }}</p>
                                                                            <p class="m-0">₹ <span class="meal-price">{{ meal['Price'] }}</span></p>
                                                                            <span class="select btn btn-outline-secondary m-auto">Select</span>
                                                                            <img class="selected d-none m-auto" src="{{ asset('images/tick.svg') }}" width="30" />
                                                                        </div>

                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            {% endfor %}

                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if extraServices['Seat'] is defined %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed bg-beige" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-seat{{loop.index}}" aria-expanded="false" aria-controls="accordion-seat{{loop.index}}">
                                                        Seat
                                                    </button>
                                                </h2>
                                                <div id="accordion-seat{{loop.index}}" class="accordion-collapse collapse bg-beige" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        {% for flight in extraServices['Seat'] %}
                                                            <div class="col-12 text-center">
                                                                <h4>{{ flight[0][0]['Origin'] }} - {{ flight[0][0]['Destination'] }}</h4>
                                                            </div>
                                                            <input type="hidden" class="add-seat" name="seat[{{ passengerIndex }}][{{ loop.index }}]" />
                                                            <div class="row">
                                                                <div class="col-9">
                                                                    <div class="flight-plane plane{{ passengerIndex }}">
                                                                        <div class="cockpit">
                                                                            <h1>Flight Seat Selection</h1>
                                                                        </div>
                                                                        <div class="exit exit--front fuselage">

                                                                        </div>
                                                                        <ol class="cabin fuselage">

                                                                            {% for row in flight %}
                                                                                {% set flightIndex = loop.index %}
                                                                                <li class="row row--{{ passengerIndex }}">
                                                                                    <ol class="seats" type="A">
                                                                                        {% for seat in row %}
                                                                                            <li class="seat" data-bs-trigger="hover" data-bs-toggle="popover" title="{{ seat['SeatNumber'] }}" data-bs-content="{{ seat['Price'] }}">
                                                                                                <input type="checkbox" name="seat{{ passengerIndex }}" id="{{ passengerIndex }}{{ seat['SeatNumber'] }}" {% if seat['AvailablityType'] == '0' %} disabled {% endif %} data-price="{{ seat['Price'] }}" data-seat="{{ seat['SeatNumber'] }}" data-passenger="{{ passengerIndex }}" />
                                                                                                <label for="{{ passengerIndex }}{{ seat['SeatNumber'] }}">{% if seat['AvailablityType'] == '0' %} 'Occupied' {% else %} {{ seat['SeatNumber'] }} {% endif %}</label>
                                                                                            </li>
                                                                                        {% endfor %}
                                                                                    </ol>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ol>
                                                                        <div class="exit exit--back fuselage">

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="col-3 selected-seat-{{ passengerIndex }}">
                                                                    <p class="seat"></p>
                                                                    <p class="amount"></p>
                                                                </div>


                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>

                                {% if price['PassengerBreakup']['ADT']['PassengerCount'] | length == loop.index %}
                                    <hr class="mx-4" />
                                {% endif %}

                            {% endfor %}




                            <div class="col-12 text-center">
                                <button class="btn btn-primary mb-3" type="submit">Submit form</button>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h3 class="text-primary">Fare Summary</h3>
                    <div class="card border-0 border-radius-6 overflow-hidden shadow fare-summary">
                        <div class="card-header border-0 flight-duration">
                            Fare Details
                        </div>
                        <div class="card-body">
                            <div class="fare-base-price">
                                <p class="title text-secondary mb-1">Base Fare</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    {% if price['PassengerBreakup']['ADT'] %}
                                        <p class="fare-details mb-1">{{ price['PassengerBreakup']['ADT']['PassengerCount'] }} Adult (1 x {{ price['PassengerBreakup']['ADT']['BasePrice'] /  price['PassengerBreakup']['ADT']['PassengerCount']  }})</p>
                                        <p class="fare-details mb-1">₹ <span class="base-price">{{ price['PassengerBreakup']['ADT']['BasePrice'] }}</span> </p>
                                    {% endif %}
                                </div>
                                <hr />
                                <p class="title text-secondary mb-1">Taxes</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    {% if price['PassengerBreakup']['ADT']['Tax'] %}
                                        <p class="fare-details mb-1">Taxes & Fees</p>
                                        <p class="fare-details mb-1">₹ <span class="taxes">{{ price['PassengerBreakup']['ADT']['Tax'] }}</span></p>
                                    {% endif %}
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    {% if price['PassengerBreakup']['ADT']['Tax'] %}
                                        <p class="fare-details mb-1">Convenience Fees</p>
                                        <p class="fare-details mb-1">₹ <span class="convenience">{{ convienceFees }}</span></p>
                                    {% endif %}
                                </div>

                                <div class="extra-services d-none">
                                    <hr />
                                    <p class="title text-secondary mb-1">Additional Charges</p>
                                    <div class="baggage-service d-none">
                                    {% for passenger in 0..price['PassengerBreakup']['ADT']['PassengerCount']-1  %}
                                    <div class="d-flex justify-content-between align-items-center d-none baggage-passenger-{{ loop.index }}">
                                        <p class="fare-details mb-1 text-truncate">Pax - {{ loop.index }} Extra Baggage <span class="extra-baggage{{ loop.index }}">3Kg</span></p>
                                        <p class="fare-details mb-1">₹ <span class="baggage-price{{ loop.index }} fare-baggage-price"></span></p>
                                    </div>
                                    {% endfor %}
                                    </div>
                                    <div class="meal-service d-none">
                                    {% for passenger in 0..price['PassengerBreakup']['ADT']['PassengerCount']-1  %}
                                        <div class="d-flex justify-content-between align-items-center d-none meal-passenger-{{ loop.index }}">
                                            <p class="fare-details fare-meal-name mb-1 text-truncate">Pax - {{ loop.index }} <span class="meal-name{{ loop.index }}"></span></p>
                                            <p class="fare-details mb-1">₹ <span class="meal-price{{ loop.index }} fare-meal-price"></span></p>
                                        </div>
                                    {% endfor %}
                                    </div>
                                    <div class="seat-service d-none">
                                    {% for passenger in 0..price['PassengerBreakup']['ADT']['PassengerCount']-1  %}
                                        <div class="d-flex justify-content-between align-items-center d-none seat-passenger-{{ loop.index }}">
                                            <p class="fare-details fare-seat-name mb-1 text-truncate">Pax - {{ loop.index }} <span class="seat-name{{ loop.index }}"></span></p>
                                            <p class="fare-details mb-1">₹ <span class="seat-price{{ loop.index }} fare-seat-price"></span></p>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>



                                <hr />
                                <p class="title text-primary mb-1"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    {% if price['PassengerBreakup']['ADT'] %}
                                        <p class="title text-primary mb-1">Grand Total</p>
                                        <h2 class="mb-1 title text-black">₹ <span class="total-amount">{{ price['PassengerBreakup']['ADT']['BasePrice'] + price['PassengerBreakup']['ADT']['Tax'] + convienceFees }}</span></h2>
                                    {% endif %}
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}

{% endblock %}